.popup__container {
    width: 430px;
    background: #FFFFFF;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding-bottom: 37px;
}

@media (max-width: 699px) {
    .popup__container {
        width: 282px;
        padding-bottom: 25px;
    }
}